#table {
  & th {
    background-color: #8aa96c;
    color: #fff;
  }

  & td.colOdd {
    background-color: #e6ebd8;
  }

  & td.colEven {
    background-color: #f2f2f2;
  }

  & .items span:last-child {
    display: none;
  }
}