/* ------------------------ Global styling ------------------------ */
:host,
html,
body {
  font-family: "Noto Sans TC", "Microsoft JhengHei", ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* Display */
.block {
  display: block !important;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

/* Flex Basis */
.basis-0 {
  flex-basis: 0px;
}

.basis-1 {
  /* 4px */
  flex-basis: 0.25rem;
}

.basis-2 {
  /* 8px */
  flex-basis: 0.5rem;
}

.basis-3 {
  /* 12px */
  flex-basis: 0.75rem;
}

.basis-4 {
  /* 16px */
  flex-basis: 1rem;
}

/* Width */
.w-full {
  width: 100% !important;
}

.w-0 {
  width: 0 !important;
}

/* Max-Width */
.max-w-full {
  max-width: 100%;
}

/* ------------------------ SD web Global styling ------------------------ */
/* navbar styling */
.book-navbar .nav-link {
  color: var(--bs-white) !important;
}

.book-navbar .nav-link:hover,
.book-navbar .nav-link:focus {
  background-color: #c5ccb2;
}

/* ------------------------ Spacing ------------------------ */
/* Margin */
.my-10 {
  margin: 2.5rem 0 !important;
}

.mt-10 {
  margin-top: 2.5rem !important;
}

.mb-10 {
  margin-bottom: 2.5rem !important;
}

/* Padding */
.pl-1 {
  padding-left: 0.25rem !important;

}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 0.75rem !important;
}

.pl-4 {
  padding-left: 1rem !important;
}

.pl-5 {
  padding-left: 1.25rem !important;
}

.pl-6 {
  padding-left: 1.5rem !important;
}

.pl-7 {
  padding-left: 1.75rem !important;
}

.pl-8 {
  padding-left: 2rem !important;
}

.pl-9 {
  padding-left: 2.25rem !important;
}

.pl-10 {
  padding-left: 2.5rem !important;
}

/* ------------------------ FlexBox ------------------------ */
/* Flex Direction */
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/* Flex */
.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

/* Flex Grow */
.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

/* Flex Shrink */
.shrink {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

/* Justify Content */
.justify-normal {
  justify-content: normal;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

/* Justify Items */
.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

/* Justify Self */
.justify-self-auto {
  justify-self: auto;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-stretch {
  justify-self: stretch;
}

/* Align Items */
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* Align Self */
.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-baseline {
  align-self: baseline;
}
